.red{color:#FE2E2E}
.orange{color:#FE9A2E}
.light-orange{color:#FACC2E}
.light-green{color:#C8FE2E}
.green{color:#64FE2E}

#drop input{
    display:none;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:12px;
    font-weight:bold;
    color:#7f858a;
}